<header class="site-header">
    <section class="title">
        <span class="main"><%= mainTitle %></span>
        <span class="sub screen-no"><%= subTitleForPrintReader %></span>
        <span class="sub print-no"><%= subTitleForScreenReader %></span>
    </section>
    <% notes.forEach((item) => { %>
        <section class="site-note"><%= item %></section>
    <% }); %>
</header>
