{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry"
            }
        ]
    ],
    "plugins": [
        ["import", {
            "libraryName": "antd-mobile",
            "style": "css"
        }]
    ]
}
