<section class="site-section">
    <header class="site-section-header"><%= title %></header>
    <article class="site-section-content">
        <ul class="skill-box">
            <% details.forEach((item) => { %>
                <li class="item"><%= item.join('') %></li>
            <% }); %>
        </ul>
    </article>
</section>
