@import "./utils";

/**
 * reset css
 */
body {
    margin: 0;
    font-size: 16px;
    line-height: 2;
    background-color: #ffffff;
    /**
     * 针对iPhoneX等刘海屏进行处理
     * iOS 11引入了constant的写法来处理viewport-fit=cover属性
     * iOS11.2 Beta之后需要使用env代替constant，前者从该版本开始被弃用
     */
    padding-top: constant(safe-area-inset-top);
    padding-right: constant(safe-area-inset-right);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-left: constant(safe-area-inset-left);
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/**
 * utilities styles
 */

/**
 * project specific style
 */
.img-demo {
    display: block;
    width: 96px;
    height: 96px;
    background: transparent url('../images/share.png') scroll no-repeat center center;
    margin: 20px auto 0;
}
