@import "./utils";

/**
 * reset css
 */
body {
  margin: 0;
  font-size: 16px;
  line-height: 2;
  background-color: #ffffff;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * utilities styles
 */

/**
 * project specific style
 */
.img-demo {
    display: block;
    width: 96px;
    height: 96px;
    background: transparent url('../images/share.png') scroll no-repeat center center;
}
