<!DOCTYPE html>
<html>
<head>
    <%- include('../components/site-head.no.ejs', cards.seo) %>
    <link rel="stylesheet" href="./css/app.css?ts=<%= +new Date() %>">
</head>
<body>
<script src="./js/app.js?ts=<%= +new Date() %>"></script>
</body>
</html>
