<!DOCTYPE html>
<html>
<head>
    <%- include('./components/site-head.no.ejs', head) %>
    <link rel="stylesheet" href="./css/app.css">
</head>
<body>
<div class="site-wrapper">
    <article class="site-content"></article>
    <aside class="site-facilities"></aside>
</div>
</body>
</html>
