<!DOCTYPE html>
<html>
<head>
    <%- include('./components/site-head.no.ejs', head) %>
</head>
<body>
<div class="site-wrapper">
    <article class="site-content"></article>
    <aside class="site-facilities"></aside>
</div>
<script src="./static/zepto.min.js"></script>
<script src="./js/app.js?v=<%= versionDate %>" inline></script>
</body>
</html>
